

<%= render_breadcrumbs %>
<h1> TÉRMINOS</h1>

<% @alphabet.each do |letter|  %>
	<button class = 'letter'> <%= letter %></button>

<% end %>
<%= button_to('Crear Palabra',new_word_path, :method => :get) %>

<ul>
<% @words.each do |word| %>

<li><%= link_to( word.name, word_definitions_path(word.id)) %></li>
<%= link_to('editar término', edit_word_path(word.id)) %>
<%= link_to('eliminar término',word_path(word.id), :method => :delete) %>


<% end %>
</ul>
<div id = 'alph'>  </div>









